<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
</head>

<body>
    {#if message}
        <h3 style="color: red">{message}</h3>
    {/if}
    <div class="container">
        <div class="title-box">
            LOGIN
        </div>

        <form method="post" action="/" class="login-form">
            <label for="email">
                Email:
            </label>
            <input type="text" name="email" id="email" required>
            <label for="password">
                Password:
            </label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>

</html>
